@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  @apply  font-fredoka;
}


@layer utilities {
  .btn {
    @apply py-3 px-6 min-w-[11vw] rounded-[10px];
  }
}


/* buttons */


/* buttons */

.primary-btn {
  @apply btn bg-primary hover:bg-[#FFE35A] active:bg-[#EACD3C];
  @apply btn bg-primary hover:bg-[#FFE35A] active:bg-[#EACD3C];
}

.secondary-btn {
  @apply btn bg-secondary text-white hover:bg-[#303030] active:bg-secondary;
}

.delete-btn {
  @apply btn bg-[#CF5151] text-white hover:bg-[#D26F6F] active:bg-[#C24B4B];
  @apply btn bg-[#CF5151] text-white hover:bg-[#D26F6F] active:bg-[#C24B4B];
}

.disabled-btn {
  @apply btn bg-[#EAEAEA] text-[#B8B8B8] cursor-not-allowed font-fredoka;
}

/* select */
.react-select__option--is-focused,
.react-select__option--is-selected {
  background-color: #FADB3F !important;
}

.react-select__control {
  border-color: #FADB3F !important;
  box-shadow: none !important; 
  direction: rtl; 
}

.react-select__menu {
  direction: rtl; 
}


/* checkbox */
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #000000; 
  border-radius: 4px;
  appearance: none; 
  cursor: pointer;
  display: inline-block;
}

.custom-checkbox:checked {
  background-color: #FADB3F;
  border-color: #000000;
}

/* title form */
.section-title {
  @apply font-semibold text-lg mb-2;
}

/* error */
.error-message {
  @apply text-red-500 text-sm;
}

/* scroll */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

